/* we can use a single css file to style all the files in our wwebsite */

/* you can pick your own background colors, text colors, and fonts */

/* we can select an html element tag, in this case "body" will apply to the whole document */
body {
  background-color: #ac0c3c;
}

/* we can have rules apply to multiple elements at the same time with commas */
h1 {
  font-family: sans-serif;
  color: rgb(237, 244, 250);
}

/* we can have rules apply to multiple elements at the same time with commas */
h2,h3 {
  font-family: sans-serif;
  color: #60b16e
}

/* we can have rules apply to multiple elements at the same time with commas */
line {
  font-family: sans-serif;
  color: #60b16e
}

/* and we can have rules that overlap other rules, both take effect */
h1 {
  letter-spacing: 5px;
  word-spacing: 5px;
  font-size: 200%;
}

/* the hashtag in a CSS selector selects an element by id, e.g., id="content" */
#content {
  margin: 10px;
  padding: 10px;
  border: solid 1px #f9ffac;
  background-color: #6aa877;
}

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #fff0c0;
  background-color: #98d18d;
}

.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #f3f3f1;
  background-color: #f0f7d8;
}

.my-photo {
  max-width: 900px;
  max-height: 600px;
  display: block;  /* Makes the image a block-level element */
  margin: 0 auto;  /* Centers the image if it's smaller than its container */
}

.minor-section p {
  color: #507559;  /* This is just an example color (a shade of orange). You can replace it with any valid color value you prefer. */
  font-size: 20px ;
}

.minor-section li {
  color: #507559;  /* This is just an example color (a shade of orange). You can replace it with any valid color value you prefer. */
  font-size: 20px ;
}

.myprofilepicture{
  width: 450px; 
  height: 600px;
}

.lab3htmlfile{
  width: 600px; 
  height: 400px;
}

.filestructure{
  width: 450px; 
  height: 600px;
}