body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e9ecef; /* Updated background color */
}

h1 {
    color: #007bff; /* Bright blue for the heading to stand out */
    margin: 20px 0;
}

.form-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    box-sizing: border-box;
}

.form-container label {
    display: block;
    margin-bottom: 5px;
    color: #495057; /* Dark gray color for the labels for better readability */
}

.form-container input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #ced4da; /* Slightly thicker border with a light gray color */
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

.form-container input:focus {
    border-color: #80bdff; /* Light blue border for input focus */
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25); /* Adding a glow effect on focus */
}

.form-container button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff; /* Keeping the button blue to match the heading */
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-sizing: border-box;
}

.form-container button:hover,
.form-container button:focus {
    background-color: #0056b3; /* Darker blue on hover for the button */
    outline: none;
}

#output {
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    width: calc(100% - 42px);
    background-color: #f8f9fa; /* Light background for the output to differentiate from the page background */
    box-sizing: border-box;
    overflow-wrap: break-word;
}

#output div {
    padding: 3px 0; /* Adds a little space above and below each line */
    font-family: monospace; /* Gives a typewriter-like font that's often used for code */
}

/* Optional: Add a class for special outputs to style them differently */
.special-output {
    font-weight: bold;
    color: #28a745; /* A green color to highlight the FizzBuzzBoom results */
}

@media (max-width: 768px) {
    .form-container {
        width: 90%;
    }
}
